<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aquaponics Dashboard</title>

    <!-- MATERIAL ICONS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- STYLESHEET -->
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>

   <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="../static/images/logo.png" alt="">
                    <h2>AQUABOX</h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons">close</span>
                </div>
            </div>

            <div class="sidebar">
                <a href="/index.html" id="dashboard-btn">
                    <span class="material-icons">dashboard</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="/pump1.html" id="pump-btn" >
                    <span class="material-icons">heat_pump</span>
                    <h3>Pump management</h3>
                </a>
                <a href="/led1.html" id="led-btn" class="active">
                    <span class="material-icons">light_mode</span>
                    <h3>Led n°1 management</h3>
                </a>
                <a href="/led2.html" id="led2-btn" >
                    <span class="material-icons">light_mode</span>
                    <h3>Led n°2 management</h3>
                </a>
            </div>
        </aside>
        <!-------------------END OF ASIDE---------------------------->
        <main>
            <h1>Led n°1 Management</h1>

            <div class="insights">
                <div class="led-panel">
                    <span class="material-icons">tune</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Led Intensity Control</h3>
                            <h1 id="led1-intensity-value">5</h1>
                            <div class="slider">
                                <h5 class="text-muted">0</h5>
                                <input type="range" id="led1-intensity-slider" min="0" max="10" value="5">
                                <h5 class="text-muted">10</h5>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Adjust led intensity</small>
                </div>
                <!-------------END OF SLIDER 1------------->
                <div class="led-panel">
                    <span class="material-icons">tune</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Led ON hour</h3>
                            <h1 id="led1-ON-value">5</h1>
                            <div class="slider">
                                <h5 class="text-muted">0</h5>
                                <input type="range" id="led1-ON-slider" min="0" max="24" value="5">
                                <h5 class="text-muted">24</h5>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Adjust led ON time per day</small>
                </div>
                <!-------------END OF SLIDER 2------------->
                <div class="led-panel">
                    <span class="material-icons">tune</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Led Starting hour</h3>
                            <h1 id="led1-start-value">5</h1>
                            <div class="slider">
                                <h5 class="text-muted">0</h5>
                                <input type="range" id="led1-start-slider" min="0" max="24" value="5">
                                <h5 class="text-muted">24</h5>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Adjust led starting hour</small>
                </div>
                <!-------------END OF SLIDER 3------------->
                
            </div>
        </main>
        <!--------------END OF MAIN----------------------->

        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons">menu</span>
                </button>
            </div>
        </div>
   </div> 

   <script src="../static/script.js"></script>
</body>
</html>