<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aquaponics Dashboard</title>

    <!-- MATERIAL ICONS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- STYLESHEET -->
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>

   <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="../static/images/logo.png" alt="">
                    <h2>AQUABOX</h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons">close</span>
                </div>
            </div>

            <div class="sidebar">
                <a href="#" id="dashboard-btn">
                    <span class="material-icons">dashboard</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="#" id="pump-btn" class="active">
                    <span class="material-icons">heat_pump</span>
                    <h3>Pump management</h3>
                </a>
                <a href="#">
                    <span class="material-icons">light_mode</span>
                    <h3>Led management</h3>
                </a>
            </div>
        </aside>
        <!-------------------END OF ASIDE---------------------------->
        <main>
            <h1>Pump Management</h1>

            <div class="insights">
                <div class="pump-control">
                    <span class="material-icons">tune</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Pump Control</h3>
                            <h1 id="pump-value">5 min</h1>
                            <div class="slider">
                                <h5 class="text-muted">0</h5>
                                <input type="range" id="pump-slider" min="0" max="10" value="5">
                                <h5 class="text-muted">10</h5>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Adjust pump interval</small>
                </div>
                <!-------------END OF SLIDER------------->

                <div class="tds">
                    <span class="material-icons">outlet</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Actual TDS</h3>
                            <h1>386ppm</h1>
                        </div>
                    </div>
                    <small class="text-muted">Last minute</small>
                </div>
                <!-------------END OF TDS------------->

            </div>
        </main>
        <!--------------END OF MAIN----------------------->

        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons">menu</span>
                </button>
            </div>
        </div>
   </div> 

   <script src="../static/script.js"></script>
</body>
</html>