<!DOCTYPE html>
<html>
  <head>
    <title>Plants' diseases recognition</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">

  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/onnxruntime-web/dist/ort.min.js"></script>  <!-- bib js pour onnx runtime-->
    <script src="../static/script_vision.js"></script>

    <div id="text_presentation">Plants' diseases recognition</div>
    <div id="list_plants">V1.0 Available for : - apples trees </div>

    <!-- <input type="file" accept="image/jpeg" id="input_file" onchange="loadFile(event)">  -->
    <input type="file"  id='input' onchange="loadFile(event)"> 
    <div id="image_view"></div>   <!-- on va mettre ici l'image / permet de placer dans le fichier html-->  

    <div id="output_div">The result will appear here</div>

  </body>
</html>